{% extends "base.html" %}

{% block title %}Educación{% endblock %}

{% block content %}
<section id="education">
    <h2>Educación</h2>
    <div class="education-item">
        <h3>DESARROLLO Y PROGRAMACIÓN DE PÁGINAS WEB Y APLICACIONES WEB - ADALAB</h3>
        <p>03/2024 - Madrid</p>
        <p>Escuela de Formación Digital...</p>
    </div>
    <div class="education-item">
        <h3>TÉCNICO SUPERIOR EN DOCUMENTACIÓN SANITARIA</h3>
        <p>01/2003 - 01/2004 Ciempozuelos</p>
        <p>Escuela Universitaria de Enfermería San Juan de Dios...</p>
    </div>
</section>
{% endblock %}
