{% extends "base.html" %}

{% block title %}Proyectos{% endblock %}

{% block content %}
<section id="projects">
    <h2>Proyectos</h2>
    <div class="project-item">
        <h3>Project Sphere</h3>
        <p>Aplicación web para gestionar proyectos personales...</p>
        <a href="#">Ver Proyecto</a>
    </div>
    <div class="project-item">
        <h3>Rick and Morty</h3>
        <p>Página web con listado de personajes de Rick and Morty...</p>
        <a href="#">Ver Proyecto</a>
    </div>
</section>
{% endblock %}
